<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="order-form-container" class="container p-6 my-md-4 px-md-0">
        <div id="steps" class="mb-md-3 pb-md-3"></div>
        <div id="form-header">
            <h2>Conversão de Moedas</h2>
            <p>Preencha os campos</p>
        </div>
    </div>
    <form action="." method="POST">{% csrf_token %}

        {{ form.as_p }}
       
        <input type="submit" value="Enviar">
        

    </form>
    
</body>
</html>